name: Template Terraform Deployment

on:
  workflow_call:
    inputs:
      buildRunId:
        required: true
        type: string
      workingDirectory:
        required: true
        type: string
      backendStorageAccount:
        required: true
        type: string
      backendContainerName:
        required: true
        type: string
      backendKey:
        required: true
        type: string
      backendResourceGroup:
        required: true
        type: string
    secrets:
      AZURE_TENANT_ID: 
        required: true
      AZURE_CLIENT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

env:
  TF_WORKING_DIR: ${{ github.workspace }}/${{ inputs.workingDirectory }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  ARM_USE_OIDC: true

jobs:
  Terraform-Plan:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow: terraform-build.yml
          run_id: ${{ inputs.buildRunId }}
          name: terraform-source-artifact

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
         client-id: ${{ secrets.AZURE_CLIENT_ID }}
         tenant-id: ${{ secrets.AZURE_TENANT_ID }}
         subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          echo "terraform init"
          terraform init -input=false  \
          -backend-config="use_azuread_auth=true" \
          -backend-config="storage_account_name=${{ inputs.backendStorageAccount }}" \
          -backend-config="container_name=${{ inputs.backendContainerName }}" \
          -backend-config="key=${{ inputs.backendKey }}" \
          -backend-config="resource_group_name=${{ inputs.backendResourceGroup }}" 

      - name: Terraform Plan
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          echo "terrafprm plan"
          terraform plan -input=false -no-color -out=tfplan

      - name: Add Terraform plan to summary
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          echo "## Terraform Plan ${{ github.run_id }}" >> $GITHUB_STEP_SUMMARY
          terraform show -no-color tfplan > tfplan.txt
          cat tfplan.txt >> $GITHUB_STEP_SUMMARY

      - name: Upload Terraform Source Artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan-${{ github.run_id }}
          path: ${{ env.TF_WORKING_DIR }}/tfplan
          retention-days: 3  # 3 months retention
          if-no-files-found: error


  Terraform-Apply:
    name: Terraform apply
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'main' && 'prod' || startsWith( github.ref_name, 'dev') && 'dev' || startsWith( github.ref_name, 'uat') && 'uat' || 'dev' }}
    needs: Terraform-Plan
    steps:
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v11
        with:
         workflow: terraform-build.yml
         run_id: ${{ inputs.buildRunId }}
         name: terraform-source-artifact

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - uses: actions/download-artifact@v4
        with:
          name: terraform-plan-${{ github.run_id }}
          path: ${{ env.TF_WORKING_DIR }}

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
         client-id: ${{ secrets.AZURE_CLIENT_ID }}
         tenant-id: ${{ secrets.AZURE_TENANT_ID }}
         subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}      

      - name: Terraform init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          terraform init -input=false  \
          -backend-config="use_azuread_auth=true" \
          -backend-config="storage_account_name=${{ inputs.backendStorageAccount }}" \
          -backend-config="container_name=${{ inputs.backendContainerName }}" \
          -backend-config="key=${{ inputs.backendKey }}" \
          -backend-config="resource_group_name=${{ inputs.backendResourceGroup }}" 

      - name: Terraform Apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -input=false -no-color tfplan
