name: Reusable Container Deploy (ACA)

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      image_tag:
        required: true
        type: string
      acr_name:
        required: true
        type: string
      container_app_name:
        required: true
        type: string
      resource_group:
        required: true
        type: string
      buildRunId:
        required: true
        type: string
      branch_name:
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

permissions:
  contents: read
  id-token: write   # OIDC mandatory

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
     - name: print env
       run: |
         env
         echo branch: ${{ github.ref_name }}
         
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.branch_name == 'main' && 'prod' || startsWith(inputs.branch_name, 'uat') && 'uat' || 'dev' }}
    steps:
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow: container-build.yml
          run_id: ${{ inputs.buildRunId }}
          name: container-image
          
      - name: Load Docker image
        run: docker load -i image.tar

      # ---------- Azure Login (OIDC) ----------
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # ---------- ACR Login ----------
      - name: Login to ACR
        run: az acr login --name ${{ inputs.acr_name }}

      # ---------- Push Image ----------
      - name: Push image to ACR
        run: |
          IMAGE=${{ inputs.acr_name }}.azurecr.io/${{ inputs.image_name }}:${{ inputs.image_tag }}
          docker tag ${{ inputs.image_name }}:${{ inputs.image_tag }} $IMAGE
          docker push $IMAGE

      # ---------- Deploy to Container Apps ----------
      - name: Deploy to Azure Container Apps
        run: |
          az containerapp update \
            --name ${{ inputs.container_app_name }} \
            --resource-group ${{ inputs.resource_group }} \
            --image $IMAGE
