name: terraform deployment

run-name: ${{ github.run_id }}

on:
  workflow_dispatch:


jobs:
    plan:
        name: terraform plan
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4
    
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2
          with:
            terraform_version: 1.7.6

        - name: Azure Login
          uses: azure/login@v1
          with:
             client_id: ${{ secrets.AZURE_CLIENT_ID }}
             tenant_id: ${{ secrets.AZURE_TENANT_ID }}
             subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    
        - name: Terraform Init
          run: terraform init
    
        - name: Terraform Apply
          run: terraform apply -auto-approve
            env:
            TF_VAR_example_variable: ${{ secrets.EXAMPLE_VARIABLE }}

