name: Terraform apply

on: 
  workflow_dispatch:
    inputs:
      build_run_id:
        required: true
        type: string
        description: Run ID of the build workflow

  workflow_run:
    workflows: [ "Terraform Build" ]
    types: ["completed"]


jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - name: Debug
        run: |
          echo " Running from branch ${{ github.ref_name }}"
          echo " Running from branch ${{ github.ref }}"
          
      - name: Download Artifact
        uses: dawidd6/action-download-artifact@v11
        with: 
          workflow: tf-build.yml
          workflow_conclusion: success
          run_id: ${{ github.event.worflow_run.id }}

      - name: Setup Terraform
        run: echo "Downlaod and setup terraform"

      - name: Run terraform init"
        run: echo "Running Terraform init"

      - name: Run terraform plan
        run: |
          echo "Running terraform plan"
          echo "terraform plan data" >> tfplan

      - name: Upload Terraform plan
        uses: actions/upload-artifact@v6
        with: 
          name: tfplan
          path: tfplan

      - name: Add Terraform plan to summary
        run: |
          echo "## Terraform plan" >> $GITHUB_SUMMARY
          cat tfplan >> $GITHUB_SUMMARY


  apply:
    runs-on: ubuntu-latest
    needs: plan
    steps:
      - name: Download Source artifact
        uses: dawidd6/action-download-artifact@v11
        with: 
          workflow: tf-build.yml
          workflow_conclusion: success
          run_id: ${{ github.event.worflow_run.id }}

      - name: Download plan artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan

      - name: show plan
        run: cat tfplan

      - name: Terraform apply
        run: echo "Running terraform apply"
        
          
